<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}

    <!-- Analytics -->
    {% include ga.html %}
  </head>
  <body>
    <!-- Header -->
    {% include header.html %}

    <!-- Offcanvas Menu -->
    {% include nav.html %}

    <!-- Overlay -->
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>

    <!-- Hero Section -->
    <section class="hero">
      <div class="container">
        <div class="chapter-number">
          <span>Second edition</span>
          <span>36 principles</span>
          <span>9 parts</span>
        </div>
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
      </div>
    </section>

    <!-- Content -->
    <main class="content content--prose">
      <div class="container">{{content}}</div>
    </main>

    <!-- Content Footer -->
    <section class="content-footer">
      <div class="container">
        <a href="/chapters/00-00a-before-you-start.html" class="next-chapter"
          ><small>Begin</small>Before You Start &rarr;</a
        >
      </div>
    </section>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Foot -->
    {% include foot.html %}
  </body>
</html>
