<!doctype html>
<html lang="en">
  <head>
    {% include head.html %} {% include ga_head.html %}
  </head>
  <body>
    <!-- Analytics -->
    {% include ga_body.html %}

    <!-- Header -->
    {% include header.html %}

    <!-- Offcanvas Menu -->
    {% include nav.html %}

    <!-- Overlay -->
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>

    <!-- Hero Section -->
    <section class="hero">
      <div class="container">
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
      </div>
    </section>

    <!-- Content -->
    <main class="content">
      <div class="container">{{content}}</div>
    </main>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Foot -->
    {% include foot.html %}
  </body>
</html>
